

    <!--<div class="hero-unit hero-carbon" style="text-align: center">

    </div>-->
<div style="text-align: center; padding-left:25%; padding-right:25%;">
    <h1 style="margin-bottom:50px; margin-top:50px; font-size:8em;">Blast Map</h1>

    <hr/>
    <h2 style="margin-top:50px;"><strong>Blast Map</strong> is a blast simulator created using Google Maps and the Ground Zero javascript library.</h2>

    <h2 style="margin-top:50px;">Click the <a href="#/map">Map</a> link to open the map interface. Select the blast type from the list and click <strong>Activate</strong> to place the marker on the map. </h2>
</div>


